.form-group {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        color: #fff;
    }

    &__label {
        margin: 0 1rem;
    }

    &__input {
        background: #232220;
        border: 0;
        padding: .3rem;
        width: 100%;
    }

    &__button-save {
        float: right;
    }
}