.side-bar {
    padding: 1rem;
}

.header { }

.nav-menu {
    &__list {
        padding: 0;
    }

    &__list-item {
        position: relative;
        list-style-type: none;
        padding: .5rem;
        border-bottom: 1px solid #999999;
        background: #333230;
        cursor: pointer;
        transition: all .1s ease-out;
        
        &:last-child {
            border-bottom: 0;
        }
        
        &:hover {
            border-left: 3px solid #4d8c0f;
            background: #504f4e;
        }
    }

    &__button-group {
        float: right;
    }
    &__buttons {
        color: white;
        cursor: pointer;
    }
    
    &__button-add {
        background: #333230;
        border-radius: .1rem;
        border: 0;
        color: #fff;
        font-weight: bold;
        width: 100%;
        padding: .5rem 1rem;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover {
            background: #504f4e;
        }
    }

    &__button-action {
        border: 0;

        &:first-child {
            border-top-left-radius: .4rem;
            border-bottom-left-radius: .4rem;
            border-right: 1px solid #555555;
        }

        &:last-child {
            border-top-right-radius: .4rem;
            border-bottom-right-radius: .4rem;
            border-left: 1px solid #555555;
        }

        &--danger {
            background: #bb2e2e;
        }

        &--success {
            background: #448544;
        }

        &--info {
            background: #2b9cb3;
        }
    }
}
